# Homework - Recommendations

## Libraries

In [1]:
import matplotlib.pyplot as plt # To plot some data if you want to.

import pandas as pd # Library to handle dataframes.
import numpy as np  # Useful library for matrix manipulation.

## 0.2 - Load Dataset

In [2]:
# Import data from a csv into a dataframe.
ratings = pd.read_csv("u.data",
                      delim_whitespace=True,
                      header=None,
                      names=["userID", "movieID", "rating", "timestamp"])

## Basic exploration

In [3]:
ratings.head() # Displays the first rows of the dataframe.

   userID  movieID  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [4]:
ratings.describe() # Similar to summary() in R.

             userID        movieID         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

### Standardization

In [5]:
# Standardize the "rating" column and put the results in a "std_ratings" column.
# Not mandatory.
ratings["std_rating"] = (ratings["rating"] - ratings["rating"].mean()) / ratings["rating"].std()

ratings["std_rating"]

0       -0.470705
1       -0.470705
2       -2.247419
3       -1.359062
4       -2.247419
5        0.417652
6       -1.359062
7        1.306009
8       -0.470705
9       -0.470705
10      -1.359062
11       1.306009
12       1.306009
13      -0.470705
14      -0.470705
15      -0.470705
16       1.306009
17      -1.359062
18       0.417652
19      -1.359062
20       0.417652
21       0.417652
22       0.417652
23      -1.359062
24       0.417652
25      -1.359062
26       1.306009
27      -1.359062
28       0.417652
29       1.306009
           ...
99970   -2.247419
99971   -1.359062
99972   -0.470705
99973    0.417652
99974   -0.470705
99975   -0.470705
99976   -1.359062
99977   -0.470705
99978    1.306009
99979   -1.359062
99980    0.417652
99981   -0.470705
99982   -2.247419
99983   -0.470705
99984   -1.359062
99985    0.417652
99986   -0.470705
99987   -1.359062
99988    0.417652
99989    0.417652
99990    0.417652
99991    0.417652
99992   -0.470705
99993   -1.359062
99994   -0.470705
99995   -0.470705
99996    1.306009
99997   -2.247419
99998   -1.359062
99999   -0.470705
Name: std_rating, Length: 100000, dtype: float64

## 0.3 - Create a separate validation set

In [6]:
from numpy.random import RandomState

In [7]:
prng = RandomState(58)

In [8]:
prng.rand(len(ratings))

array([ 0.36510558,  0.45120592,  0.49606035, ...,  0.35743007,
        0.68356079,  0.84245802])

In [9]:
msk = prng.rand(len(ratings)) < 0.8
trn = ratings[msk]
val = ratings[~msk]
len(trn), len(val)

(79948, 20052)

In [10]:
trn.head()

   userID  movieID  rating  timestamp  std_rating
0     196      242       3  881250949   -0.470705
1     186      302       3  891717742   -0.470705
2      22      377       1  878887116   -2.247419
3     244       51       2  880606923   -1.359062
4     166      346       1  886397596   -2.247419

## User averages

"You should compute a numpy array (or python list) user_average, of size
n_users+1, such that user_average[i] is the average rating given by user i. The value of
user_average[0] does not matter."

In [11]:
# Get series of the the "std_rating" and "rating" columns grouped by "movieId".
std_ratings_user_grouped = ratings.groupby("userID")["std_rating"]
ratings_user_grouped = ratings.groupby("userID")["rating"]

# Aggregate them with the "mean" function, and sort them.
std_user_mean_ratings = std_ratings_user_grouped.mean().sort_values(ascending=False)
user_mean_ratings = ratings_user_grouped.mean().sort_values(ascending=False)

In [12]:
std_user_mean_ratings

userID
849    1.190136
688    1.157950
507    1.060945
628    1.042792
928    1.028398
118    1.005719
907    0.925285
686    0.918135
427    0.904816
565    0.899903
469    0.892820
850    0.887959
225    0.878282
330    0.858809
477    0.823758
242    0.817413
636    0.817413
583    0.812477
767    0.801807
252    0.798377
810    0.793495
366    0.767611
12     0.766027
312    0.756264
383    0.755478
862    0.740691
513    0.740691
523    0.737461
324    0.727231
909    0.725160
         ...
570   -0.753364
21    -0.763515
104   -0.766824
578   -0.766824
797   -0.778213
933   -0.784527
155   -0.793744
617   -0.807951
102   -0.812064
824   -0.826048
129   -0.826048
660   -0.839532
900   -0.865530
161   -0.868934
255   -0.877422
656   -0.877868
509   -0.901423
637   -0.923425
702   -0.957868
302   -0.978337
609   -1.010064
626   -1.053689
865   -1.103323
206   -1.206375
724   -1.212744
774   -1.307505
685   -1.314644
445   -1.372223
405   -1.506117
181   -1.810388
Name: std_rating, Length: 943, dtype: float64

In [13]:
user_mean_ratings

userID
849    4.869565
688    4.833333
507    4.724138
628    4.703704
928    4.687500
118    4.661972
907    4.571429
686    4.563380
427    4.548387
565    4.542857
469    4.534884
850    4.529412
225    4.518519
330    4.496599
477    4.457143
242    4.450000
636    4.450000
583    4.444444
767    4.432432
252    4.428571
810    4.423077
366    4.393939
12     4.392157
312    4.381166
383    4.380282
513    4.363636
862    4.363636
523    4.360000
324    4.348485
909    4.346154
         ...
570    2.681818
21     2.670391
578    2.666667
104    2.666667
797    2.653846
933    2.646739
155    2.636364
617    2.620370
102    2.615741
129    2.600000
824    2.600000
660    2.584821
900    2.555556
161    2.551724
255    2.542169
656    2.541667
509    2.515152
637    2.490385
702    2.451613
302    2.428571
609    2.392857
626    2.343750
865    2.287879
206    2.171875
724    2.164706
774    2.058036
685    2.050000
445    1.985185
405    1.834464
181    1.491954
Name: rating, Length: 943, dtype: float64

From now on, results are computed based on the raw ratings data, not the standardized version. Be free to do as you please.

## Movie averages

You should compute a numpy array (or python list) movie_average, of size
n_movies+1, such that movie_average[i] is the average rating for movie i. If movie i has
not been rated, movie_average[i] should contain the global average, global_average

In [14]:
ratings_movie_grouped = ratings.groupby("movieID")["rating"]

movie_mean_ratings = ratings_movie_grouped.mean().sort_values(ascending=False)

movie_mean_ratings

movieID
1293    5.000000
1467    5.000000
1653    5.000000
814     5.000000
1122    5.000000
1599    5.000000
1201    5.000000
1189    5.000000
1500    5.000000
1536    5.000000
1449    4.625000
1642    4.500000
119     4.500000
1398    4.500000
1594    4.500000
408     4.491071
318     4.466443
169     4.466102
483     4.456790
114     4.447761
64      4.445230
603     4.387560
12      4.385768
50      4.358491
178     4.344000
513     4.333333
1639    4.333333
1191    4.333333
134     4.292929
963     4.292683
          ...
1576    1.000000
1575    1.000000
1574    1.000000
1566    1.000000
1572    1.000000
1571    1.000000
1570    1.000000
1569    1.000000
1586    1.000000
1563    1.000000
858     1.000000
1562    1.000000
852     1.000000
1568    1.000000
1626    1.000000
830     1.000000
1363    1.000000
1621    1.000000
1618    1.000000
439     1.000000
1546    1.000000
1374    1.000000
1548    1.000000
1373    1.000000
437     1.000000
1601    1.000000
1557    1.000000
1559    1.000000
1561    1.000000
1364    1.000000
Name: rating, Length: 1682, dtype: float64

## 0.7 Define RMSE and MAE

### RMSE

Define a function `evalrmse(pred, ground)`
 which, given predicted ratings **pred** and ground-truth ratings **ground** returns the root-mean-square error of the prediction

Try to define this function in plain python, then using numpy, then using sklearn (which must be installed if necessary)

### [RMSE] Classic implementation

In [15]:
def evalrmse_classic(pred, grnd):
    """
    evalrmse takes a prediction list and a ground-truth list,
    computes and returns the root-mean square error of the prediction.
    
    Args:
        pred (list): List containing the predictions.
        grnd (list): List containing the ground-truth results.

    Returns:
        rmse (list): The root-mean square error of the prediction.
    """
    square_sum = 0
    n = len(grnd)
    
    for i in range(n):
        square_sum += (pred[i] - grnd[i]) ** 2
    
    return np.sqrt(square_sum / n)

In [16]:
A = [1, 2, 3, 4] # Test list A.
B = [1, 2, 3, 3] # Test list B.

evalrmse_classic(A, B)

0.5

### [RMSE] Numpy implementation

In [18]:
# Same implementation but using numpy and as a lambda function, because "fun".
evalrmse_np = lambda pred, grnd: np.sqrt(((pred - grnd) ** 2).mean())

In [19]:
A = np.array([1, 2, 3, 4]) # Test array A.
B = np.array([1, 2, 3, 3]) # Test array B.

evalrmse_np(A, B)

0.5

### [RMSE] Sklearn implementation

In [22]:
from sklearn.metrics import mean_squared_error

# Same implementation but using sklearn.
evalrmse_sklearn = lambda pred, grnd : np.sqrt(mean_squared_error(grnd, pred))

In [23]:
evalrmse_sklearn(A, B)

0.5

### MAE

Same question for the mean absolute error.

### [MAE] Classic implementation

In [24]:
def evalmae_classic(pred, grnd):
    """
    evalmae takes a prediction list and a ground-truth list,
    computes and returns the mean absolute error of the prediction.
    
    Args:
        pred (list): List containing the predictions.
        grnd (list): List containing the ground-truth results.

    Returns:
        mae (list): The mean absolute error of the prediction.
    """
    square_sum = 0
    n = len(grnd)
    
    for i in range(n):
        square_sum += abs(pred[i] - grnd[i])
    
    return square_sum / n

In [25]:
A = [1, 2, 3, 4]
B = [1, 2, 3, 3]

evalmae_classic(A, B)

0.25

### [MAE] Numpy implementation

In [26]:
evalmae_np = lambda pred, grnd: abs((pred - grnd)).mean()

In [27]:
A = np.array([1, 2, 3, 4])
B = np.array([1, 2, 3, 3])

evalmae_np(A, B)

0.25

### [MAE] Sklearn implementation

In [28]:
from sklearn.metrics import mean_absolute_error

evalmae_sklearn = lambda pred, grnd : mean_absolute_error(grnd, pred)

In [29]:
evalmae_sklearn(A, B)

0.25

## 0.8 Compute baseline predictions for the validation set and evaluate error

For each baseline, compute an array pred where pred[i] is the estimated rating for line i in the
validation set np_val, then estimate RMSE and MAE.

### Using the global average: the estimated rating for any user and movie is the global average

In [30]:
"""
For reference:
    trn = ratings[msk]  # Training set approx. 80% of the input rows.
    val = ratings[~msk] # Validation set approx. 20% of the input rows (remaining).
"""

# Let's aggregate by userID doing an average.
trn_user_grouped_ratings = trn.groupby("userID")["rating"].mean()

trn_user_grouped_ratings # This gives for each user in the training set their average rating.

userID
1      3.627907
2      3.615385
3      2.727273
4      4.523810
5      2.829932
6      3.603550
7      3.959375
8      3.911111
9      4.222222
10     4.189542
11     3.429577
12     4.410256
13     3.095427
14     4.050633
15     2.962025
16     4.247863
17     3.153846
18     3.879464
19     3.555556
20     3.075000
21     2.628571
22     3.401961
23     3.635593
24     4.357143
25     4.015625
26     2.900000
27     3.318182
28     3.761194
29     3.714286
30     3.612903
         ...
914    3.086957
915    2.904762
916    3.384000
917    3.586207
918    3.269231
919    3.490909
920    3.090909
921    3.279070
922    3.432990
923    4.135593
924    3.816901
925    3.206897
926    3.266667
927    3.618557
928    4.681818
929    3.707317
930    2.982143
931    3.836735
932    3.962567
933    2.583333
934    3.715328
935    3.896552
936    3.726415
937    3.233333
938    3.282609
939    4.195122
940    3.488636
941    4.111111
942    4.265625
943    3.325926
Name: rating, Length: 943, dtype: float64

In [33]:
# Now, let's compute the global average
trn_global_avg = trn["rating"].mean()

trn_global_avg

3.5272802321508983

In [37]:
# Create a new dataframe that will contain the predictions based on the different methods.
predicted_movie_ratings = val.iloc[:, 0:3]

# List of the size of the validation set containing the global average as values.
trn_global_avg_list = len(predicted_movie_ratings) * [trn_global_avg]

# Same but as a numpy array.
trn_global_avg_array = np.array(trn_global_avg_list)

predicted_movie_ratings["pred_glob_avg"] = trn_global_avg_array
predicted_movie_ratings

       userID  movieID  rating  pred_glob_avg
8         305      451       3        3.52728
13        210       40       3        3.52728
15        303      785       3        3.52728
18        291     1042       4        3.52728
26         38       95       5        3.52728
27        102      768       2        3.52728
38        276      796       1        3.52728
47        249      241       5        3.52728
51         81      432       2        3.52728
52        260      322       4        3.52728
59        292      515       4        3.52728
68         57      304       5        3.52728
74        194      165       4        3.52728
80        225      237       5        3.52728
83        276       54       3        3.52728
87         42      403       3        3.52728
90          8      338       4        3.52728
92         87     1016       4        3.52728
112       168      151       5        3.52728
117        62       21       3        3.52728
131        82      135       3        3.52728
133       293      471       3        3.52728
134       216      658       3        3.52728
141        87      274       4        3.52728
142       194     1211       2        3.52728
143        82     1134       2        3.52728
147       305      427       5        3.52728
152        84      405       3        3.52728
154       299      111       3        3.52728
159       259      117       4        3.52728
...       ...      ...     ...            ...
99829     532      990       3        3.52728
99832     943      739       4        3.52728
99839     303      363       1        3.52728
99848       5      174       5        3.52728
99851      23      227       3        3.52728
99856     913      318       4        3.52728
99859     935      685       4        3.52728
99866     826      748       4        3.52728
99867     773      232       3        3.52728
99868     749      823       3        3.52728
99869     806       90       4        3.52728
99887     393      613       4        3.52728
99892     527      659       4        3.52728
99896     867      748       4        3.52728
99903     851     1013       2        3.52728
99907     935      117       4        3.52728
99910     896      511       5        3.52728
99912     835      174       5        3.52728
99918     798      659       4        3.52728
99931     379      621       4        3.52728
99932     130      824       3        3.52728
99941     593        1       3        3.52728
99948     780       50       5        3.52728
99958     394      380       4        3.52728
99969     936      766       3        3.52728
99976     618      628       2        3.52728
99978     113      975       5        3.52728
99980     864      685       4        3.52728
99981     750      323       3        3.52728
99985     617      582       4        3.52728

[20052 rows x 4 columns]

In [40]:
predicted_movie_ratings_list = list(predicted_movie_ratings["pred_glob_avg"].values)
actual_movie_ratings_list = list(predicted_movie_ratings["rating"].values)

predicted_movie_ratings_array = predicted_movie_ratings["pred_glob_avg"].values
actual_movie_ratings_array = predicted_movie_ratings["rating"].values

{"rmse":{
    "classic": evalrmse_classic(predicted_movie_ratings_list,
                                actual_movie_ratings_list),
    "np": evalrmse_np(predicted_movie_ratings_array,
                      actual_movie_ratings_array),
    "sklearn": evalrmse_sklearn(predicted_movie_ratings_array,
                                actual_movie_ratings_array)},
 "mae": {
     "classic": evalmae_classic(predicted_movie_ratings_list,
                                actual_movie_ratings_list),
     "np": evalmae_np(predicted_movie_ratings_array,
                      actual_movie_ratings_array),
     "sklearn": evalmae_np(predicted_movie_ratings_array,
                           actual_movie_ratings_array)}
}

{'mae': {'classic': 0.94299916779140713,
  'np': 0.94299916779140025,
  'sklearn': 0.94299916779140025},
 'rmse': {'classic': 1.1235736740615916,
  'np': 1.1235736740615263,
  'sklearn': 1.1235736740615263}}

In [43]:
# Aggregate by movieID doing the average.
trn_movie_grouped_ratings = val.groupby("movieID")["rating"].mean()

# Function that returns the movie's average.
def movie_avg_rating(movieID):
    if movieID in trn_movie_grouped_ratings.index:
        return trn_movie_grouped_ratings[movieID]
    
    return 0

predicted_movie_ratings["pred_movie_avg"] = predicted_movie_ratings["movieID"].apply(movie_avg_rating)

predicted_movie_ratings_list = list(predicted_movie_ratings["pred_movie_avg"].values)
actual_movie_ratings_list = list(predicted_movie_ratings["rating"].values)

predicted_movie_ratings_array = predicted_movie_ratings["pred_movie_avg"].values
actual_movie_ratings_array = predicted_movie_ratings["rating"].values

In [44]:
{"rmse":{
    "classic": evalrmse_classic(predicted_movie_ratings_list,
                                actual_movie_ratings_list),
    "np": evalrmse_np(predicted_movie_ratings_array,
                      actual_movie_ratings_array),
    "sklearn": evalrmse_sklearn(predicted_movie_ratings_array,
                                actual_movie_ratings_array)},
 "mae": {
     "classic": evalmae_classic(predicted_movie_ratings_list,
                                actual_movie_ratings_list),
     "np": evalmae_np(predicted_movie_ratings_array,
                      actual_movie_ratings_array),
     "sklearn": evalmae_np(predicted_movie_ratings_array,
                           actual_movie_ratings_array)}
}

{'mae': {'classic': 0.77204943918524005,
  'np': 0.77204943918523661,
  'sklearn': 0.77204943918523661},
 'rmse': {'classic': 0.97277231620030202,
  'np': 0.97277231620030324,
  'sklearn': 0.97277231620030324}}

### Using user and movie bias: the predicted rating for user u and movie m is Âµ + bu + bm, where Âµ is global_average, bu is the user bias user_average[u] - global_average and bm is the movie bias movie_average - global average

In [45]:
"""
Global average: trn_global_avg
User average: val_user_grouped_ratings[userID]
Movie average: val_movie_grouped_ratings[userID]
"""

def pred_rating_with_bias(row):
    movieID = row["movieID"]
    userID = row["userID"]
    
    rating = trn_global_avg
    
    if movieID in trn_movie_grouped_ratings.index:
        rating += trn_movie_grouped_ratings[movieID] - trn_global_avg
    
    if userID in trn_user_grouped_ratings.index:
        rating += trn_user_grouped_ratings[userID] - trn_global_avg
    
    return rating

predicted_movie_ratings["pred_bias"] = predicted_movie_ratings.apply(pred_rating_with_bias, axis=1)

predicted_movie_ratings_list = list(predicted_movie_ratings["pred_bias"].values)
actual_movie_ratings_list = list(predicted_movie_ratings["rating"].values)

predicted_movie_ratings_array = predicted_movie_ratings["pred_bias"].values
actual_movie_ratings_array = predicted_movie_ratings["rating"].values

In [46]:
{"rmse":{
    "classic": evalrmse_classic(predicted_movie_ratings_list,
                                actual_movie_ratings_list),
    "np": evalrmse_np(predicted_movie_ratings_array,
                      actual_movie_ratings_array),
    "sklearn": evalrmse_sklearn(predicted_movie_ratings_array,
                                actual_movie_ratings_array)},
 "mae": {
     "classic": evalmae_classic(predicted_movie_ratings_list,
                                actual_movie_ratings_list),
     "np": evalmae_np(predicted_movie_ratings_array,
                      actual_movie_ratings_array),
     "sklearn": evalmae_np(predicted_movie_ratings_array,
                           actual_movie_ratings_array)}
}

{'mae': {'classic': 0.73188893455837645,
  'np': 0.73188893455837334,
  'sklearn': 0.73188893455837334},
 'rmse': {'classic': 0.9340641212984907,
  'np': 0.93406412129849037,
  'sklearn': 0.93406412129849037}}